<html>

<head>
  <title>Organic solvents 4</title>

  <style>
    .container {
      display: flex;
      justify-content: center;
      border: 2px solid black;
    }

    .box {
      width: 700px;
      border: 2px solid rgb(255, 0, 0);
   }
  </style>

</head>

<body>
  <div id="app">

    <div class="container">
      <div class="box">
        <game-card 
        v-for="game in games" 
        :game-data="game" 
        :key="game.id"
        ></game-card>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1" style="color:green;">正確</span>
          <span v-else>Oh no 😢. 正確答案是:  {{ game.correct_answer }}</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '依勞工作業場所容許暴露標準規定，石綿纖維長度 5 微米以上且長度比在 3 以上者，其 8 小時日時量平均容許濃度為何?',
            answers: [
                '1mg/cm2',
                '2mg/cm2',
                '0.1 根/cm2',
                '0.15 根/cm2'
            ],
            correct_answer: '0.15 根/cm2',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '依勞工作業場所容許暴露標準規定，容許濃度使用上應注意事項，下列何 者正確?',
            answers: [
                '可作為作業場所環境改善及管理參考',
                '以兩種不同有害物之容許濃度作為毒性相關指標',
                '周界大氣之空氣汙染指標',
                '職業病鑑定唯一依據'
            ],
            correct_answer: '可作為作業場所環境改善及管理參考',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '*依鉛中毒預防規則規定，下列何種鉛作業應設置淋浴及更衣設備，供勞工使用?',
            answers: [
                '軟焊作業',
                '含鉛裝置內部作業',
                '溶蝕鑄造作業',
                '鉛蓄電磁加工配組'
            ],
            correct_answer: '含鉛裝置內部作業',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '*依鉛中毒預防規則規定，鉛合金是鉛與鉛以外金屬之合金中，鉛佔該合金重量百分之多少重量以上者?',
            answers: [
                '1%',
                '3%',
                '5%',
                '10%'
            ],
            correct_answer: '10%',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '*依職業安全衛生設施規則規定，刺激物、腐蝕性物質或毒性汙染之工作場所，應每多少人設置一個冷熱清洗設備?',
            answers: [
                '5',
                '10',
                '15',
                '20'
            ],
            correct_answer: '5',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '*某一單位勞工人數550人，使用符合國家標準CNS15030規定化學品分類， 具有健康危害者，訂有容許暴露標準之化學品，環境監測該化學品濃度低 於 1/2 容許暴露標準，至少每幾年評估一次?',
            answers: [
                '3 年',
                '4 年',
                '5 年',
                '6 年'
            ],
            correct_answer: '3 年',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '*對於運轉中之化學設備或屬設備，為防止因爆炸、火災、洩等造成勞工之危害，下列敘何者不正確?',
            answers: [
                '確定冷卻、加熱、攪扮及壓縮等置正常操作',
                '確定將閥或旋塞雙開關或設置盲板',
                '保持安全閥、緊急遮斷裝置,自動警報置,或其他安全装置於異常狀態時有效運轉',
                '保持溫度計、壓力計或其它計測裝置可正常操作'
            ],
            correct_answer: '確定將閥或旋塞雙開關或設置盲板',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '*tiO2在勞工作業環境空氣中有害物許濃度中備註欄為加註可呼吸性粉塵， 則表示該物質應測定下列何種濃度?',
            answers: [
                '可呼吸性粉塵',
                '厭惡性粉塵',
                '可吸入性粉塵',
                '總粉麈'
            ],
            correct_answer: '總粉麈',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '*使勞工從事透下列何者定化學物質時，應報備勞動檢查機構?',
            answers: [
                '甲',
                '乙',
                '丙',
                '丁'
            ],
            correct_answer: '乙',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '依危害性化學品評估及分級管理辦法規定，評量或估算勞工暴露於化學品之健康危害情形之暴露評估方法，下列何者錯誤?',
            answers: [
                '定量',
                '半定量',
                '定性',
                '半定性'
            ],
            correct_answer: '半定性',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '*依特定化學物質危害預防標準規定,石綿屬於下列何種物?',
            answers: [
                '甲類物質',
                '乙類物質',
                '丙類物質',
                '丁類物質'
            ],
            correct_answer: '丙類物質',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '依缺氧症預防規則規定,下列何者不屬於缺氧危臉場所?',
            answers: [
                '長時未使用沉箱內部',
                '置放酵母釀造設備內部',
                '滯留雨水人孔內部',
                '密閉相當期間鋼製爐內部,其內璧為不鏽鋼製品'
            ],
            correct_answer: '密閉相當期間鋼製爐內部,其內璧為不鏽鋼製品',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '依職業安全衛生設施規則規定,丙酮屬於下列何者?',
            answers: [
                '爆炸性物質',
                '著火性物質',
                '氧化性物質',
                '易燃性物質'
            ],
            correct_answer: '易燃性物質',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '*二氧化氮具有下列何種特性?',
            answers: [
                '高溶解性',
                '至肺纖維化',
                '致貧血性',
                '低溶解度，肺刺激性'
            ],
            correct_answer: '低溶解度，肺刺激性',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '*有關工作安全分析,下列何者優先?',
            answers: [
                '將工作分成幾個步驟',
                '決定要分析的工作',
                '發現潛在危險及可能危害',
                '決定安全的工作方法'
            ],
            correct_answer: '決定要分析的工作',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '下列有毒性大小之敘述何者錯誤?',
            answers: [
                '三價砷大於五價砷',
                '三價錳大於價錳',
                '有機汞大無無機汞',
                '三價鉻大於六價鉻'
            ],
            correct_answer: '三價鉻大於六價鉻',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '下列有健康管下列之敘述何者錯誤?',
            answers: [
                '健康管理係以保持或增進健康為目的',
                '健管管理一般主要手段為體格檢查及健康檢查',
                '職前體格檢查可作為選工之參考，可篩選體質是否宜從事存在危害因子之場所',
                '定期體格檢查有助於早期發現是否受到危害因子影響'
            ],
            correct_answer: '定期體格檢查有助於早期發現是否受到危害因子影響',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '*下列何者不是石綿可能引起的疾病?',
            answers: [
                '肺癌',
                '麈肺症',
                '間皮瘤',
                '肺結核'
            ],
            correct_answer: '肺結核',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '下列何者不是循環系統造成的職業病?',
            answers: [
                '矽肺症',
                '麈肺症',
                '鉛中毒',
                '氣喘'
            ],
            correct_answer: '氣喘',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '下列何者不是職業衛生之危害因子評估所需參考事項?',
            answers: [
                '環境監測',
                '生物偵測',
                '勞工作業場所容許暴露標準',
                '工作設備種類'
            ],
            correct_answer: '工作設備種類',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '*下列何者不屬於單純窒息性氣體?',
            answers: [
                '氮氣',
                '氦氣',
                '一氧化碳',
                '甲烷'
            ],
            correct_answer: '一氧化碳',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>