<html>

<head>
  <title>Organic solvents 7</title>
</head>

<body>
  <div id="app">

    <game-card 
    v-for="game in games" 
    :game-data="game" 
    :key="game.id"
    ></game-card>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; width: 400px; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1">正確</span>
          <span v-else>Oh no 😢</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '依職業安全衛生管理辦法規定,醫療保健服務業勞工人數多少人以上者,應設職業安全衛生管理單位?',
            answers: [
                '50',
                '100',
                '300',
                '500'
            ],
            correct_answer: '300',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '甲苯和松節油混合物加起來，是第種有機溶劑混合(存)物?',
            answers: [
                '第四種',
                '第三種',
                '第二種',
                '第一種'
            ],
            correct_answer: '第二種',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '一般正常人每分鐘氧氣需求量約為多少?',
            answers: [
                '250CC',
                '500CC',
                '200CC',
                '125CC'
            ],
            correct_answer: '250CC',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '有害物，符合國家標準 CNS15030 具有?',
            answers: [
                '健康危害者',
                '生物性危害',
                '環境危害',
                '物理性危害'
            ],
            correct_answer: '健康危害者',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '控制危害 3 層管理面的下列何者為發生源的管理?',
            answers: [
                '局部排氣裝置的設置及控制設備良好維護保養計畫',
                '以低毒性，低危害性物料取代',
                '製成隔離、密閉、負壓作業',
                '以上皆是'
            ],
            correct_answer: '以上皆是',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '控制危害 3 層管理面的下列何者為傳播途徑的管理?',
            answers: [
                '擴大發生源與暴露者之距離及自動偵測監視裝置之設置',
                '整體換氣置之設置',
                '廠場整潔、立即清理，避免二次發生源發生',
                '以上皆是'
            ],
            correct_answer: '以上皆是',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '可作為醇類、醛類等有機溶劑之捕集為何?',
            answers: [
                '活性碳管',
                '矽膠管',
                '文氏管',
                '玻璃管'
            ],
            correct_answer: '矽膠管',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '危險物，符合國家標準 CNS15030 具有?',
            answers: [
                '物理性危害',
                '健康危害者',
                '生物性危害',
                '環境危害'
            ],
            correct_answer: '物理性危害',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '採樣設備流率較正,校準方式可採用何者?',
            answers: [
                '浮子流量計',
                '溫度計',
                '壓力計',
                '文氏管'
            ],
            correct_answer: '浮子流量計',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '有害物質在人體內之代謝轉換，以何者之負荷量最大?',
            answers: [
                '肺部',
                '心臟',
                '腦部',
                '肝臟'
            ],
            correct_answer: '肝臟',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '採樣方法、使用之材料為活性碳管，稱之為?',
            answers: [
                '靜電補集法',
                '固體補集法',
                '直接捕集法',
                '擴散補集法'
            ],
            correct_answer: '固體補集法',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>