<html>

<head>
  <title>Organic solvents 3</title>
</head>

<body>
  <div id="app">

    <game-card 
    v-for="game in games" 
    :game-data="game" 
    :key="game.id"
    ></game-card>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; width: 400px; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1" style="color:green;">正確</span>
          <span v-else>Oh no 😢. 正確答案是:  {{ game.correct_answer }}</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '下列何者不是用危害性化學品標示及通識規則中容器之定義?',
            answers: [
                '袋',
                '反應器',
                '管路',
                '交通工具之引擎、燃料槽'
            ],
            correct_answer: '交通工具之引擎、燃料槽',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '下列何者較不致造成局限空間缺氧?',
            answers: [
                '木屑的儲存',
                '有機物的腐敗',
                '管件組裝',
                '金屬氧化'
            ],
            correct_answer: '管件組裝',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '下列何者特定化學物質中之甲類物質?',
            answers: [
                '溶劑中含苯 5%以上膠糊',
                '甲苯',
                '乙醚',
                '鉛'
            ],
            correct_answer: '溶劑中含苯 5%以上膠糊',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '下列何者屬特定化學物質危害預防標準中稱之乙類特定化學物質?',
            answers: [
                '苯',
                '鈹其化合物',
                '含苯膠',
                '鉻酸及其鹽類'
            ],
            correct_answer: '鈹其化合物',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '下列何種法規所列管化學品最少?',
            answers: [
                '危害性化學品標示及通識規則',
                '優先管理化學品之指定及運作管理辦法',
                '勞工作業環境監測實施辦法',
                '管制性化學品之指定及運作許可管理辦法'
            ],
            correct_answer: '管制性化學品之指定及運作許可管理辦法',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '下列何種特定化學物質之作業場所，應設置緊急沖淋設備?',
            answers: [
                '乙類',
                '丙類第 2 種',
                '丙類第 3 種',
                '丁類'
            ],
            correct_answer: '丁類',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '下列何種特定化學物質具腐蝕特性，應特別注意防蝕、防漏設施?',
            answers: [
                '甲類物質',
                '乙類物質',
                '丙類物質',
                '丁類物質'
            ],
            correct_answer: '丁類物質',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '四氯乙烯為有機溶劑中毒預防規則所列管之第幾種有機溶劑?',
            answers: [
                '第一種',
                '第二種',
                '第三種',
                '特種'
            ],
            correct_answer: '第二種',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '甲醇 8 小時時量平均容許濃度為 200ppm，則短時間時量平均容許濃度為 多少?',
            answers: [
                '200',
                '250',
                '300',
                '400'
            ],
            correct_answer: '250',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '有關毒物毒性之敘述下列何者錯誤?',
            answers: [
                '氯仿有致崎胎，致突變之不良生殖反應',
                '氯乙烯單體會導致肝癌',
                '石綿會導致肺癌',
                '特定化學物質危害預防標準所稱丁類物質屬致癌物質'
            ],
            correct_answer: '特定化學物質危害預防標準所稱丁類物質屬致癌物質',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '何項化學品經製造者、輸入者、供應者或雇主將相關運作資料報請中央主管機關備查即可運作?',
            answers: [
                '優先管理化學品',
                '管制性化學品',
                '新化學品',
                '以上皆是'
            ],
            correct_answer: '優先管理化學品',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '含硫酸硝酸之廢液收集桶不得與下列何種廢液混合?',
            answers: [
                '鹽酸',
                '磷酸',
                '硫化物',
                '水'
            ],
            correct_answer: '硫化物',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '依危害性化學品標示及通識規則規定，危害性化學品其主要成分，是指所含之危害物質成分，濃度重量比在百分之多少以上且前 3 位者?',
            answers: [
                '1',
                '2',
                '3',
                '4'
            ],
            correct_answer: '1',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '依危害性化學品標示及通識規則規定，致癌物質之危害圖示為下列何者?',
            answers: [
                '人頭及胸腔',
                '驚嘆號',
                '骷髏頭',
                '癌細胞'
            ],
            correct_answer: '人頭及胸腔',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '依危害性化學品標示及通識規則規定，裝有危害物質之容器，其容積在多少公升以下者得僅標示其名稱，危害圖示及警語?',
            answers: [
                '0.001',
                '0.1',
                '1',
                '100'
            ],
            correct_answer: '0.1',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '依危害性化學品標示及通識規則規定，裝有危害物質之容器，得明顯之處設置標示有規定事項之公告版，以代替容器標示，不包刮下列何者?',
            answers: [
                '裝不同種類危害性化學品之數個容器，置放同一處',
                '導管或配管系統',
                '冷卻裝置',
                '輸送裝置'
            ],
            correct_answer: '裝不同種類危害性化學品之數個容器，置放同一處',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '依有機溶劑中毒預防規則規定，雇主使勞工以噴布方式於室內作業，使用第二種有機溶劑從事粘接塗敷作業，應於作業場所設置何種控制設備?',
            answers: [
                '密閉設備',
                '密閉設備或局部排氣裝置',
                '密閉設備、排氣裝置、整體換氣裝置',
                '無須裝置'
            ],
            correct_answer: '密閉設備或局部排氣裝置',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '依特定化學物質危害預防標準規定，從事下列何種作業時，雇主應指定現場主管擔任特定化學物質作業主管?',
            answers: [
                '正己烷',
                '硫化氫',
                '丙酮',
                '汽油'
            ],
            correct_answer: '硫化氫',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '依特定化學物質危害預防標準規定，雇主對特定化學管理設備，為早期掌握其異常化學反應等之發生，應設置是當計測裝置，不包括下列何者?',
            answers: [
                '溫度計',
                '壓力計',
                '流量計',
                '溼度計'
            ],
            correct_answer: '溼度計',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>