<html>

<head>
  <title>Organic solvents 7</title>
</head>

<body>
  <div id="app">

    <game-card 
    v-for="game in games" 
    :game-data="game" 
    :key="game.id"
    ></game-card>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; width: 400px; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1" style="color:green;">正確</span>
          <span v-else>Oh no 😢. 正確答案是:  {{ game.correct_answer }}</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '依職業安全衛生管理辦法規定,醫療保健服務業勞工人數多少人以上者,應設職業安全衛生管理單位?',
            answers: [
                '50',
                '100',
                '300',
                '500'
            ],
            correct_answer: '300',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '甲苯和松節油混合物加起來，是第種有機溶劑混合(存)物?',
            answers: [
                '第四種',
                '第三種',
                '第二種',
                '第一種'
            ],
            correct_answer: '第二種',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '一般正常人每分鐘氧氣需求量約為多少?',
            answers: [
                '250CC',
                '500CC',
                '200CC',
                '125CC'
            ],
            correct_answer: '250CC',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '有害物，符合國家標準 CNS15030 具有?',
            answers: [
                '健康危害者',
                '生物性危害',
                '環境危害',
                '物理性危害'
            ],
            correct_answer: '健康危害者',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '控制危害 3 層管理面的下列何者為發生源的管理?',
            answers: [
                '局部排氣裝置的設置及控制設備良好維護保養計畫',
                '以低毒性，低危害性物料取代',
                '製成隔離、密閉、負壓作業',
                '以上皆是'
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '控制危害 3 層管理面的下列何者為傳播途徑的管理?',
            answers: [
                '擴大發生源與暴露者之距離及自動偵測監視裝置之設置',
                '整體換氣置之設置',
                '廠場整潔、立即清理，避免二次發生源發生',
                '以上皆是'
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '可作為醇類、醛類等有機溶劑之捕集為何?',
            answers: [
                '活性碳管',
                '矽膠管',
                '文氏管',
                '玻璃管'
            ],
            correct_answer: '矽膠管',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '危險物，符合國家標準 CNS15030 具有?',
            answers: [
                '物理性危害',
                '健康危害者',
                '生物性危害',
                '環境危害'
            ],
            correct_answer: '物理性危害',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '採樣設備流率較正,校準方式可採用何者?',
            answers: [
                '浮子流量計',
                '溫度計',
                '壓力計',
                '文氏管'
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '有害物質在人體內之代謝轉換，以何者之負荷量最大?',
            answers: [
                '肺部',
                '心臟',
                '腦部',
                '肝臟'
            ],
            correct_answer: '肝臟',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '採樣方法、使用之材料為活性碳管，稱之為?',
            answers: [
                '靜電補集法',
                '固體補集法',
                '直接捕集法',
                '擴散補集法'
            ],
            correct_answer: '固體補集法',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '防塵口罩實施捕集 100mg 粉塵之試驗時，其吸氣壓損上升值應該維持多少 mmH20 以下?',
            answers: [
                '8',
                '12',
                '16',
                '18'
            ],
            correct_answer: '16',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '進入含 3%氯氣之室內作業場所，宜佩帶下何種呼吸防護具?',
            answers: [
                '有機溶劑吸收罐防毒面具',
                '供氣式呼吸防護具',
                '防塵用呼吸防護具',
                '酸性氣體吸收防毒面具'
            ],
            correct_answer: '供氣式呼吸防護具',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '以常人每分鐘約呼吸 16 次為例，每次約吸入呼出空氣為 500 毫升 1 則每 分鐘二化碳的呼出量可達多少毫升?',
            answers: [
                '250',
                '1000',
                '1200',
                '2000'
            ],
            correct_answer: '250',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '吸入硫化氫時,會造成氣管刺激、結膜炎，其濃度約為多少 ppm?',
            answers: [
                '50~100ppm',
                '100~200ppm',
                '200~300ppm',
                '600ppm'
            ],
            correct_answer: '50~100ppm',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '一氧化碳工作八小時的允許暴露值為和?',
            answers: [
                '35ppm',
                '50ppm',
                '75ppm',
                '100ppm'
            ],
            correct_answer: '35ppm',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '局部排氣裝置系統中，下列何者不具擾動損失或動能損失?',
            answers: [
                '支管',
                '歧管',
                '直線導管',
                '灣管'
            ],
            correct_answer: '直線導管',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '下列急救方式何者正確?',
            answers: [
                '心臟病及氣喘為半坐臥',
                '頭部受傷為抬高頭部',
                '昏迷為側臥',
                '以上皆是'
            ],
            correct_answer: '以上皆是',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '局限空中，氧氣濃度低於多少對人體有害?',
            answers: [
                '6%',
                '16%',
                '18%',
                '19.5%'
            ],
            correct_answer: '16%',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '頭部受傷昏迷急救方式是?',
            answers: [
                '腳抬高',
                '抬頭部',
                '側身',
                '平躺'
            ],
            correct_answer: '抬頭部',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '急救時的體位為何?',
            answers: [
                '心臟病為半坐臥',
                '昏迷為側臥的',
                '頭部受傷怡高頭部',
                '以上皆是'
            ],
            correct_answer: '以上皆是',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '急救應先採取措為何?',
            answers: [
                '抬高頭部',
                '半坐臥',
                '側臥',
                '平躺腳抬高'
            ],
            correct_answer: '平躺腳抬高',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '腦的耗氧量占率 4 分之一，不可缺氧多久，否則會造成腦死傷害?',
            answers: [
                '1~2 分鐘',
                '3 分鐘',
                '4~6 分鐘',
                '7 分鐘'
            ],
            correct_answer: '4~6 分鐘',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '對從事定粉塵作業以上之粉塵室內作業場所,依規定應設置下列何種設備 或具同等性能以上之設備?',
            answers: [
                '密閉設備',
                '局部排氣裝置',
                '維持濕潤之設備',
                '整體換氣設備'
            ],
            correct_answer: '整體換氣設備',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '一直結式傳動之排氣機，每分鐘 3600 轉，送量每秒 68 立方公尺，此排氣 機有 60 個後屈弧型葉片，其所生之噪音之主要頻率為多少 Hz?',
            answers: [
                '1200',
                '2400',
                '3600',
                '4800'
            ],
            correct_answer: '3600',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '下列何者為有機溶劑作業最佳之控制措施?',
            answers: [
                '密閉設備',
                '局部排氣裝置',
                '整體換氣裝置',
                '吹吸型換氣裝置'
            ],
            correct_answer: '密閉設備',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '局部排氣裝置依規定應多久定期實施自動檢查 1 次?',
            answers: [
                '每季',
                '每 6 個月',
                '每年',
                '每 2 年'
            ],
            correct_answer: '每年',
            now_correct: false,
          },
          { 
            id: 28, 
            question: '排氧導管之全壓-一般為下列何者?',
            answers: [
                '正',
                '負壓',
                '0',
                '可為正壓或負壓'
            ],
            correct_answer: '正',
            now_correct: false,
          },
          { 
            id: 29, 
            question: '防毒面具之濾毒罐中，有機氣體用濾罐不通用於何種氣態物質場所?',
            answers: [
                '氯氣',
                '四氯化碳',
                '丙烯睛',
                '巴拉松'
            ],
            correct_answer: '氯氣',
            now_correct: false,
          },
          { 
            id: 30,
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 31, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>