<html>

<head>
  <title>Organic solvents 2</title>
</head>

<body>
  <div id="app">

    <game-card 
    v-for="game in games" 
    :game-data="game" 
    :key="game.id"
    ></game-card>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; width: 400px; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1">正確</span>
          <span v-else>Oh no 😢</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '下列何者會增加暴露瀝青品之嚴重性?',
            answers: [
                '紅外線',
                '石綿',
                '紫外線',
                '鉻酸鹽'
            ],
            correct_answer: '紫外線',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '下列何種因子或疾病不會引起如感冒類似的症狀?',
            answers: [
                '猛的金屬壎煙',
                '鐵弗龍高溫加熱後的燻煙',
                '清水塔工人退伍軍人症',
                '使用玻璃纖維工人的過敏性皮膚炎'
            ],
            correct_answer: '使用玻璃纖維工人的過敏性皮膚炎',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '下列何種作業勞工可能發生鼻中隔穿孔現象?',
            answers: [
                '苯',
                '硫酸',
                '鉻酸',
                '鎘'
            ],
            correct_answer: '鉻酸',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '下列何者止確?',
            answers: [
                '兩物間 LD50 小者毒性也較小',
                '兩物質間 LC50 大者毒性也小',
                '兩者毒性大小，除比較 LC50 外，亦應比較其測量其劑量反應曲線斜率',
                '容許濃度小者，毒性較大'
            ],
            correct_answer: '兩者毒性大小，除比較 LC50 外，亦應比較其測量其劑量反應曲線斜率',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '下列敘述何者錯誤?',
            answers: [
                '清掃囪工人易罹患陰囊癌',
                '硫酸霧滴長期暴露易致膀胱癌',
                '勞工暴於多環芳香碳氫化合物環境時易造成肺癌',
                '長期接觸觸媒產物的工人易引起皮膚癌'
            ],
            correct_answer: '硫酸霧滴長期暴露易致膀胱癌',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '下列敘述何者錯誤?',
            answers: [
                '硝化甘油為爆炸性物質',
                '鋁衯為著火性物質',
                '丁烷為可燃性氣體',
                '二硫化碳為有害物而非危險物'
            ],
            correct_answer: '二硫化碳為有害物而非危險物',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '有機鉛對人體之危害為下列何者?',
            answers: [
                '胃',
                '神經',
                '皮膚',
                '神經系統'
            ],
            correct_answer: '神經',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '有機磷殺蟲劑對於下列何種組織或系統傷害較小?',
            answers: [
                '消化系統',
                '造血系統',
                '皮膚',
                '神經系統'
            ],
            correct_answer: '消化系統',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '將要與不要的物區分，是指 5s 中的一項?',
            answers: [
                '整理',
                '整頓',
                '清掃',
                '整理'
            ],
            correct_answer: '整理',
            explanation: '',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '下列何項係預防不安全設備及動作,在安全管理上應先有的作為?',
            answers: [
                '職業安全衛生管理計畫',
                '安全衛生教育訓練',
                '安全衛生稽核機制',
                '安全衛生政策'
            ],
            correct_answer: '安全衛生政策',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '不安全動作,不安全設備是屬於職業災害發生的何種原因?',
            answers: [
                '直接原因',
                '基本原因',
                '不確定原因',
                '間接原因'
            ],
            correct_answer: '間接原因',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '有關刺激物之敘述下列何者有誤?',
            answers: [
                '刺激物對腸胃可引起嘔吐、噁心或不正常蠕動',
                '福馬林因溶解度大,易對上呼吸道造成刺激',
                '臭氧之溶解度比氨大，較常作用於上呼吸道',
                '二氧化氮溶解度較小較易作用於下呼吸道'
            ],
            correct_answer: '臭氧之溶解度比氨大，較常作用於上呼吸道',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '依據世界衛生組織之調查,職業病比例最高者為何者?',
            answers: [
                '皮膚病',
                '呼吸道疾病',
                '癌症',
                '神經及感覺器官疾病'
            ],
            correct_answer: '皮膚病',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '依職業安全衛生管理辦法規定,雇主使勞工從事有機溶劑作業,應使誰就其 作業有關事項實施檢點?',
            answers: [
                '雇主',
                '該作業場所負責人',
                '該作業主管',
                '該勞工'
            ],
            correct_answer: '該勞工',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '某一長期執行苯作業勞工於健康檢查發現有貧血現象,為謹慎該公司的職 業安全衛生人員建議將該勞工調至非苯作業的工作,此屬何種對策?',
            answers: [
                '抑制，隔離危害物質避免勞工暴露',
                '作業環改善',
                '教育訓練',
                '健康管理'
            ],
            correct_answer: '健康管理',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '氯乙烯單體屬下列何種物質?',
            answers: [
                '腐蝕性物質',
                '惰性物質',
                '致肺纖維化物質',
                '致肝癌物質'
            ],
            correct_answer: '致肝癌物質',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '列相同濃度的空氣中有害物,何者較易以觸媒燃燒法測定?',
            answers: [
                '一氧化碳',
                '硫酸',
                '氨',
                '苯'
            ],
            correct_answer: '苯',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '小型衝擊採樣瓶適用於下列何種採樣?',
            answers: [
                '液體捕集法',
                '過濾捕集法',
                '固體捕集法',
                '直接捕集法'
            ],
            correct_answer: '液體捕集法',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '以活性碳管捕集空氣中有害物,依採樣分析建議方法,當後段所捕集有害物 質量相對前段採集質量的比值小於多少時,該樣本為有效樣本?',
            answers: [
                '0.1',
                '0.15',
                '0.2',
                '0.25'
            ],
            correct_answer: '0.1',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '以檢知管測量空氣中有害物濃度時,如 B 為檢知管的平均呈色讀數值,A 為 呈色扭斜最大讀值與較小讀值之差值,則 A 與 B 之比值應在下列何值內,才 屬可靠測定?',
            answers: [
                '0.2',
                '0.4',
                '0.6',
                '0.8'
            ],
            correct_answer: '0.2',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '石綿採樣濾紙匣加裝延長管其長度為多少 mm?',
            answers: [
                '10',
                '25',
                '50',
                '100'
            ],
            correct_answer: '50',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '在等溫等壓下,活性碳吸附劑對下列那種化合物的吸附力最差?',
            answers: [
                '水',
                '異丙醇',
                '乙酸乙醋',
                '四氯化碳'
            ],
            correct_answer: '四氯化碳',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>