<html>

<head>
  <title>Organic solvents 8</title>
</head>

<body>
  <div id="app">

    <game-card 
    v-for="game in games" 
    :game-data="game" 
    :key="game.id"
    ></game-card>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; width: 400px; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1" style="color:green;">正確</span>
          <span v-else>Oh no 😢. 正確答案是:  {{ game.correct_answer }}</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '易燃液體遇到火源和適當的空氣，表面可閃起火火焰可以繼續燃燒之最低溫度為下列何者?',
            answers: [
                '散火點',
                '著火點',
                '閃火點',
                '沸點'
            ],
            correct_answer: '沸點',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '人員清洗汽油儲放槽，不需要下列何種人員?',
            answers: [
                '高壓作業主管',
                '安全衛生人員',
                '有機溶劑作業主管',
                '缺氧作業主管'
            ],
            correct_answer: '高壓作業主管',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '第一種有機溶劑含量 3%，第二種有機溶劑含量 4%，第三種有機溶劑含量在 5%以上，屬第幾種有機溶劑?',
            answers: [
                '第二種',
                '第一種',
                '第四種',
                '第三種'
            ],
            correct_answer: '第二種',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '氣仿(三氯甲烷)是第幾種有機溶劑?',
            answers: [
                '第二種',
                '第一種',
                '第四種',
                '第三種'
            ],
            correct_answer: '第一種',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '於使用空氣呼吸器時，應隨時確認殘存之空氣量是在 20%以上，或壓力指針在多少 kg/cm2 以上?',
            answers: [
                '10',
                '20',
                '15',
                '30'
            ],
            correct_answer: '30',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '氣罩出風口(開口處)前方一倍直徑處是出風量的幾倍?',
            answers: [
                '100',
                '0.1(10%)',
                '10',
                '1'
            ],
            correct_answer: '0.1(10%)',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '有機溶劑之分類中，依使用特性區別，可分為那些?',
            answers: [
                '助溶劑',
                '稀釋劑',
                '真溶劑',
                '以上皆是'
            ],
            correct_answer: '以上皆是',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '整體氣置之換氣能力以下列何者表示?',
            answers: [
                '每小時換氣次數',
                'Q(m3/min)',
                'VC(m/s)',
                '每分鐘換氣次數'
            ],
            correct_answer: 'Q(m3/min)',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '八小時日時量平均容許濃度(PEL-TWA8H)為 1 以上未滿 10 之有害物，其短時間時量平均濃度值為 PEL-TWA8H 乘以下列何變量系數而得?',
            answers: [
                '1.0',
                '1.5',
                '3',
                '2'
            ],
            correct_answer: '2',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '以下何種疾病之人員，不適合從事有機溶劑方面之作業?',
            answers: [
                '肥胖症',
                '色盲',
                '聽力異常',
                '周圍神經異常'
            ],
            correct_answer: '周圍神經異常',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '太子樓下方的窗戶，其窗戶通風方向為何?',
            answers: [
                '密閉',
                '向外',
                '向內',
                '無作用'
            ],
            correct_answer: '向內',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '勞工人數 50 人以上，需設置急救人員，超過幾人應增設一名急救人員?',
            answers: [
                '25',
                '10',
                '100',
                '50'
            ],
            correct_answer: '50',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '甲苯作業場所設置之整體換氣裝置每一分鐘所需的換氣量(m3/min)時消費量(g/hr)乘以下列何值?',
            answers: [
                '0.01',
                '0.04',
                '0.03',
                '0.3'
            ],
            correct_answer: '0.04',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '強力膠主要的成份為何?',
            answers: [
                '乙醚',
                '甲苯',
                '稀釋劑',
                '香蕉水'
            ],
            correct_answer: '甲苯',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '第三種有機溶劑混存物定義?',
            answers: [
                '第一種有機溶劑混存物及第二種有機溶劑混存物外有機溶劑混存物',
                '第一種有機溶劑佔該混存物重量 5%以上',
                '第二種或第一種有機溶劑及第二種有機溶劑之和佔該混存物重量 5% 以上',
                '一種有機溶劑佔該混存物重量 10%'
            ],
            correct_answer: '第一種有機溶劑混存物及第二種有機溶劑混存物外有機溶劑混存物',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '空氣在導管內流動之壓力?',
            answers: [
                '全壓',
                '動壓',
                '靜壓',
                '負壓'
            ],
            correct_answer: '動壓',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '第二種有機溶劑混存物，每分鐘的換氣量，係指作業期間之消費量與何者之相乘之換算?',
            answers: [
                '0.04',
                '0.01',
                '0.1',
                '0.3'
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '有機溶劑(以吸入性而言)，對人體那種器官危害最大?',
            answers: [
                '胰臟',
                '肝臟',
                '心臟',
                '肺'
            ],
            correct_answer: '胰臟',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '第一種有機溶劑混存物之容許消費量，為作業場所氣積與何常數之相乘換算?',
            answers: [
                '3/2',
                '2/5',
                '1/15',
                '2/3'
            ],
            correct_answer: '1/15',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '試問，加油站內的所用的加油管，其所設置的油瓶回收屬於何種置?',
            answers: [
                '',
                '',
                '',
                '以上皆是'
            ],
            correct_answer: '以上皆是',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '一有機溶劑混存物中三氯乙烷佔其重量的 3%，三氯甲烷佔 2%，汽油 4%， 其他為樹酯，則該混存物屬於下列何者?',
            answers: [
                '第一種有機溶劑混存物',
                '第三種有機溶劑混存物',
                '非有機溶劑中毒預防規則列管物質',
                '第二有機溶劑混存物'
            ],
            correct_answer: '第二有機溶劑混存物',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '有機溶劑(以代謝轉換而言)，對人體那種器官危害最小?',
            answers: [
                '胰臟',
                '肺',
                '肝臟',
                '心臟'
            ],
            correct_answer: '胰臟',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '軸流式排氣機之特性為下列何者?',
            answers: [
                '靜壓大、排氣量大',
                '靜壓小、排氣量小',
                '靜壓大、排氣量小',
                '靜壓小、排氣量大'
            ],
            correct_answer: '靜壓小、排氣量大',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '第二種有機溶劑混存物之容許消費量，為作業場所氣積與何常數之相乘換算?',
            answers: [
                '2/5',
                '1/15',
                '3/2',
                '2/3'
            ],
            correct_answer: '2/5',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '勞工總人數在 50 人以上需設醫護人員，超過幾人應增一名醫護人員?',
            answers: [
                '50 人',
                '10 人',
                '1000 人',
                '100 人'
            ],
            correct_answer: '1000 人',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '有機溶劑之毒性是依照何種器官排毒(代謝轉換)?',
            answers: [
                '胰臟',
                '肺部',
                '肝臟',
                '心臟'
            ],
            correct_answer: '肝臟',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '依職業安全衛生管理辦法規定，下列何者非屬雇主應使勞工就其作業實施檢點之項目?',
            answers: [
                '輸送帶作業',
                '有機溶劑作業',
                '特定化學物質作業',
                '粉塵作業'
            ],
            correct_answer: '特定化學物質作業',
            now_correct: false,
          },
          { 
            id: 28, 
            question: '第三有機溶劑混存物，每分鐘的換氣量，係指作業期間之消費量與何者之相乘之換算?',
            answers: [
                '0.3',
                '0.04',
                '0.01',
                '0.1'
            ],
            correct_answer: '0.01',
            now_correct: false,
          },
          { 
            id: 29, 
            question: '第三種有機溶劑混存物之容許消費量，為作業場所氣積與何常數之相乘換算?',
            answers: [
                '1/15',
                '2/5',
                '3/2',
                '2/3'
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 30, 
            question: '第二種有機溶劑混存物定義?',
            answers: [
                '第二種或第一種有機溶劑及第二種有機溶劑之和佔該混存物重量 5%以上',
                '第一種有機溶劑混存物及第二種有機溶劑混存物外有機溶劑混存物',
                '第一種有機溶劑佔該混存物重量 5%以上',
                '第一種有機溶劑佔該混存物重量 10%'
            ],
            correct_answer: '第二種或第一種有機溶劑及第二種有機溶劑之和佔該混存物重量 5%以上',
            now_correct: false,
          },
          { 
            id: 31, 
            question: '灌注，卸收危臉物於液槽車 、儲槽、油桶等之設備，有因靜電引起爆炸或火災之虞者，應採取之安全措施或去靜電之置，下列何者誤?',
            answers: [
                '使用除電劑',
                '漏電斷路器',
                '加濕',
                '接地'
            ],
            correct_answer: '漏電斷路器',
            now_correct: false,
          },
          { 
            id: 32, 
            question: '第一種有機溶劑混存物，每分鐘的換氣量，係指作業期間之消費量與何者 之相乘之換算?',
            answers: [
                '0.04',
                '0.01',
                '0.3',
                '0.1'
            ],
            correct_answer: '0.3',
            now_correct: false,
          },
          { 
            id: 33, 
            question: '不適合有機溶劑工作的勞工病症?(請依意選最恰當)',
            answers: [
                '呼吸系統疾病',
                '建康影響者',
                '皮膚嚴重過敏性',
                '以上皆是'
            ],
            correct_answer: '呼吸系統疾病',
            now_correct: false,
          },
          { 
            id: 34, 
            question: '環測所有使用的檢知管開啟後，若未經使用吸附危害物，可使用次數為何?',
            answers: [
                '1 次',
                '2 次',
                '無論有無吸附，均不得再次使用',
                '無限制'
            ],
            correct_answer: '無論有無吸附，均不得再次使用',
            now_correct: false,
          },
          { 
            id: 35, 
            question: '勞工於有容許暴露標準之作業場所作業，其最低標準值濃度不得超過?',
            answers: [
                '8 小時日時量平均許濃度',
                '容許曝露標準',
                '全程日時量平均容許濃度',
                '短時間時量平均容許濃度'
            ],
            correct_answer: '容許曝露標準',
            now_correct: false,
          },
          { 
            id: 36, 
            question: '爆炸下限在 35%(已達法定 30%以上)，應如何處置?',
            answers: [
                '使勞工退避至安全場所',
                '通風換氣',
                '以上皆是',
                '留在原地'
            ],
            correct_answer: '使勞工退避至安全場所',
            now_correct: false,
          },
          { 
            id: 37, 
            question: '漂白水是一種有效的家居消毒劑，其主要成分是?',
            answers: [
                '碳酸鈉',
                '氯化鈣',
                '次氯酸鈉',
                '硫磺粉'
            ],
            correct_answer: '次氯酸鈉',
            now_correct: false,
          },
          { 
            id: 38, 
            question: '汽油混合正已烷後期重量為 7%，屬於第幾類有機溶劑混存物?',
            answers: [
                '第一種',
                '第二種',
                '第三種',
                '第四種'
            ],
            correct_answer: '第二種',
            now_correct: false,
          },
          { 
            id: 39, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 40, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        
        ],
       
      },
      
      
    });
  </script>
</body>

</html>