<html>

<head>
  <title>Organic solvents 1</title>
</head>

<body>
  <div id="app">

    <game-card 
    v-for="game in games" 
    :game-data="game" 
    :key="game.id"
    ></game-card>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; width: 400px; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1" style="color:green;">正確</span>
          <span v-else>Oh no 😢. 正確答案是:  {{ game.correct_answer }}</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '未定期實施製程安全評估，有何處罰?',
            answers: [
                '處新台幣 20 萬元以上',
                '處新台幣 9 萬元以下罰鍰',
                '處新台幣 3 萬元以上 30 萬元以下罰鍰',
                '處新台幣 3 萬元以上 15 萬元以下罰緩'
            ],
            correct_answer: '處新台幣 3 萬元以上 30 萬元以下罰鍰',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '未訂定職業安全生管理計劃、設置組織、人員，並實施自動檢查，有何處 罰?',
            answers: [
            '處新台幣 20 萬元以上',
            '處新台幣 9 萬元以下罰鍰',
            '處新台幣 3 萬元以上 30 萬元以下罰鍰',
            '處新台幣 3 萬元以上 15 萬元以下罰緩'
            ],
            correct_answer: '處新台幣 3 萬元以上 15 萬元以下罰緩',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '下列有關違反職業安全衛生法之罰則敘述，何者正確?',
            answers: [
                '勞工無故不接受健康檢查，由雇主處新台幣 3 千元以下罰鍰',
                '僱用無資格人員操作 3 公噸以上塔式起重機，可處以罰金',
                '雇主或工作場所負責人對於工作場所有立即發生危險之虞時，經檢查 機構發出停工通知，仍未使勞工停止作業，可處 1 年以下有期徒刑',
                '事業單位發生死亡災害未向勞動檢查機構通報，由主管機關處罰鍰'
            ],
            correct_answer: '雇主或工作場所負責人對於工作場所有立即發生危險之虞時，經檢查 機構發出停工通知，仍未使勞工停止作業，可處 1 年以下有期徒刑',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '下列何者不是勞工健保護規則規定、雇主於僱用勞工從事粉塵作業時應實 施特殊體格檢查之特定項目?',
            answers: [
                '粉塵作業經歷檢查',
                '胸部臨床檢查',
                '神經、精神及心臟血管系統 之物理檢查',
                '胸部 X 光(大片)攝影檢查'
            ],
            correct_answer: '神經、精神及心臟血管系統 之物理檢查',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '下列何者為職業安全衛生管理辦法，應實施重點檢查之機械或設備?',
            answers: [
                '起重設備',
                '局部排氣裝置',
                '防護器具',
                '消防設備'
            ],
            correct_answer: '局部排氣裝置',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>