<html>

<head>
  <title>OSHA 1</title>
</head>

<body>
  <div id="app">

    <game-card 
    v-for="game in games" 
    :game-data="game" 
    :key="game.id"
    ></game-card>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; width: 400px; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1" style="color:green;">正確</span>
          <span v-else>Oh no 😢. 正確答案是:  {{ game.correct_answer }}</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '依職工福利金條例規定，有關職工福利金之提撥，每月於每個職員工薪資內各扣百分之多少？',
            answers: [
                '0.1',
                '0.2',
                '0.5',
                '1.0'
            ],
            correct_answer: '0.5',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '依勞工保險條例規定，普通事故保險之分類及其給付種類，不包括下列何者？',
            answers: [
                '生育',
                '傷病',
                '失能',
                '醫療'
            ],
            correct_answer: '醫療',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '依勞工職業災害保險及保護法規定，職業災害未認定前，勞工無法上班時，應如何處理？',
            answers: [
                '先請普通傷病假',
                '先以公傷病假處理',
                '先請事假',
                '先予留職停薪'
            ],
            correct_answer: '先請普通傷病假',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '依就業保險法規定，下列何者正確？',
            answers: [
                '已參加公教人員保險者，仍可參加本保險',
                '已領取勞工保險老年給付不得參加本保險',
                '受僱於依法免辦登記且無核定課稅之雇主者，可參加本保險',
                '依法免辦登記且無統一發票購票證之雇主，可參加本保險'
            ],
            correct_answer: '已領取勞工保險老年給付不得參加本保險',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '依就業保險法規定，有關保險給付，不包括下列何者？',
            answers: [
                '失業給付',
                '提早就業獎助津貼',
                '職業病生活津貼',
                '育嬰留職停薪津貼'
            ],
            correct_answer: '職業病生活津貼',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '依勞動檢查法規定，由中央主管機關指定為辦理危險性機械或設備檢查之行政機關、學術機構、公營事業機構或非營利法人，係指下列何者？',
            answers: [
                '勞動檢查機構',
                '安全衛生相關團體',
                '代行檢查機構',
                '主管機關'
            ],
            correct_answer: '代行檢查機構',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '勞動檢查員執行下列何種職務，可不得事前通知事業單位？',
            answers: [
                '危險性工作場所審查或檢查',
                '危險性機械或設備檢查',
                '職業災害檢查',
                '專案檢查'
            ],
            correct_answer: '專案檢查',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '經勞動檢查機構以書面通知之檢查結果，事業單位應於該違規場所顯明易見處公告幾日以上？',
            answers: [
                '7',
                '10',
                '15',
                '30'
            ],
            correct_answer: '7',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '依職業安全衛生法規定規避，妨礙或拒絕檢查、調查，處新臺幣多少元罰鍰？',
            answers: [
                '3萬元以上15萬元以下',
                '30萬元以上300萬以下',
                '3萬元以上30萬元以下',
                '6萬元以上30萬元以下'
            ],
            correct_answer: '3萬元以上30萬元以下',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '下列有關職業安全衛生法規之敘述何者正確？',
            answers: [
                '勞工保險條例之主管機關已配合全民健康保險之開辦，移由衛生福利部主管',
                '工作場所建築物應依建築法規及職業安全衛生法規之相關規定設計',
                '為規定勞動條件最低標準，保障勞工權益，加強勞雇關係，促進社會與經濟發展，特訂定職業安全衛生法',
                '危險性工作場所審查暨檢查辦法係依職業安全衛生法訂定'
            ],
            correct_answer: '工作場所建築物應依建築法規及職業安全衛生法規之相關規定設計',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 28, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 29, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 30, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 31, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 32, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 33, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>