<html>

<head>
  <title>OSHA 3</title>
</head>

<body>
  <div id="app">

    <game-card 
    v-for="game in games" 
    :game-data="game" 
    :key="game.id"
    ></game-card>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; width: 400px; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1" style="color:green;">正確</span>
          <span v-else>Oh no 😢. 正確答案是:  {{ game.correct_answer }}</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '依職業安全衛生管理辦法規定，雇主對於低壓電氣設備，應多久定期實施檢查1次？',
            answers: [
                '每月',
                '每三個月',
                '每六個月',
                '每年'
            ],
            correct_answer: '每年',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '雇主對使用中之施工架應實施檢查，依職業安全衛生法令規定，下列何者有誤？',
            answers: [
                '至少應每月檢查1次',
                '應由極富經驗之工程人員事前依營造安全衛生設施標準及其他安全規定檢查後，始得使用',
                '每當惡劣氣候侵襲後應實施檢查',
                '每次停工之復工前，亦應實施檢查'
            ],
            correct_answer: '至少應每月檢查1次',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '依職業安全衛生管理辦法規定，營造工程之模板支撐應多久定期實施檢查1次？',
            answers: [
                '每日',
                '每週',
                '每月',
                '每3個月'
            ],
            correct_answer: '每週',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '依職業安全衛生教育訓練規則規定，操作下列何種機具不必接受具有危險性機械或設備操作人員訓練？',
            answers: [
                '鍋爐（小型鍋爐除外）',
                '第一種壓力容器',
                '吊升荷重在3公噸以上之起重機',
                '荷重1公噸以上堆高機'
            ],
            correct_answer: '荷重1公噸以上堆高機',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '下列何者不是應接受特殊作業安全衛生教育訓練之對象？',
            answers: [
                '使用起重機具從事吊掛作業人員',
                '荷重1公噸以上之堆高機操作人員',
                '潛水作業人員',
                '第一種壓力容器操作人員'
            ],
            correct_answer: '第一種壓力容器操作人員',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '以乙炔熔接裝置或氣體集合裝置從事金屬熔接、切斷或加熱作業人員應接受下列何種安全衛生教育訓練？',
            answers: [
                '特殊作業',
                '危險性機械操作人員',
                '危險性設備操作人員',
                '一般作業'
            ],
            correct_answer: '特殊作業',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '雇主對擔任工作場所急救人員之勞工，除醫護人員外，應使其接受急救人員訓練，依職業安全衛生教育訓練規則規定，其訓練時數不得低於多少小時？',
            answers: [
                '12',
                '16',
                '30',
                '60'
            ],
            correct_answer: '16',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '辦理新僱勞工一般安全衛生教育訓練時，其訓練時數依職業安全衛生教育訓練規則不得少於多少小時？',
            answers: [
                '3',
                '6',
                '12',
                '18'
            ],
            correct_answer: '3',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '辦理下列何種安全衛生教育訓練不必於事前報請當地主管機關備查？',
            answers: [
                '有害作業主管',
                '職業安全衛生人員',
                '危險性機械、設備操作人員',
                '現場安全衛生監督人員'
            ],
            correct_answer: '現場安全衛生監督人員',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '依勞工健康保護規則規定，第一類事業之事業單位勞工人數多少人以上時，應僱用或特約職業醫學科專科醫師1人？',
            answers: [
                '3,000',
                '5,000',
                '6,000',
                '8,000'
            ],
            correct_answer: '6,000',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '依勞工健康保護規則規定，事業單位之勞工人數在多少人以上者，應視其規模及性質，僱用從事勞工健康服務之護理人員？',
            answers: [
                '100',
                '300',
                '500',
                '1000'
            ],
            correct_answer: '300',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '依勞工健康保護規則規定，急救人員不得有那種身體因素，足以妨礙急救情形？',
            answers: [
                '色盲',
                '心臟病',
                '失聰',
                '高血壓'
            ],
            correct_answer: '失聰',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '依勞工健康保護規則規定，醫護人員臨場應辦理勞工健康服務之事項，不包含下列何者？',
            answers: [
                '健康促進之策劃與實施',
                '健康諮詢與急救處置',
                '協助選配勞工從適當工作',
                '定期辦理健康檢查'
            ],
            correct_answer: '定期辦理健康檢查',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '依勞工健康保護規則規定，醫護人員之勞工健康服務執行紀錄表應保存多少年？',
            answers: [
                '1',
                '3',
                '7',
                '10'
            ],
            correct_answer: '3',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '依女性勞工母性健康保護實施辦法規定，有關母性健康保護措施，下列何者有誤？',
            answers: [
                '危害評估與控制',
                '醫師面談指導',
                '風險分級管理',
                '勞工代表參與'
            ],
            correct_answer: '勞工代表參與',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '依女性勞工母性健康保護實施辦法規定，下列何者有誤？',
            answers: [
                '對於有害輻射散布場所之工作，應依游離輻射防護安全標準之規定辦理',
                '作業場所應進行風險評估，區分風險等級，並實施分級管理',
                '作業場所空氣中暴露濃度為容許暴露標準1/2以上者，屬第三級管理',
                '血中鉛濃度為20μg/dl以上者，屬第三級管理'
            ],
            correct_answer: '血中鉛濃度為20μg/dl以上者，屬第三級管理',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '依女性勞工母性健康保護實施辦法規定，雇主所採取之危害評估控制方法及面談指導等，其執行情形之紀錄應至少保存多少年？',
            answers: [
                '1',
                '3',
                '5',
                '7'
            ],
            correct_answer: '3',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '下列何者非屬危險性工作場所審查及檢查辦法所稱之丁類危險性工作場所？',
            answers: [
                '採用壓氣施工作業之工程',
                '建築物頂樓樓板高度80公尺之建築工程',
                '單跨橋梁之橋墩跨距在50公尺之橋梁工程',
                '開挖深度達18公尺，且開挖面積達500平方公尺之工程'
            ],
            correct_answer: '單跨橋梁之橋墩跨距在50公尺之橋梁工程',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '依危險性工作場所審查及檢查辦法規定，甲類工作場所使勞工作業幾日前，向當地勞動檢查機構申請審查？',
            answers: [
                '30',
                '45',
                '60',
                '15'
            ],
            correct_answer: '30',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '依危險性工作場所審查及檢查辦法規定，事業單位向檢查機構申請審查甲類工作場所，事前實施評估之組成小組人員不包括下列人員？',
            answers: [
                '工作場所負責人',
                '製程安全評估人員',
                '職業安全衛生人員',
                '熟悉該場所作業之顧問'
            ],
            correct_answer: '熟悉該場所作業之顧問',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 28, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 29, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 30, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 31, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 32, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 33, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>