<html>

<head>
  <title>Organic solvents 1</title>

  <style>
    .container {
      display: flex;
      justify-content: center;
      border: 2px solid black;
    }

    .box {
      width: 700px;
      border: 2px solid rgb(255, 0, 0);
   }
  </style>

</head>

<body>
  <div id="app">
 
    <div class="container">
      <div class="box">
        <game-card 
        v-for="game in games" 
        :game-data="game" 
        :key="game.id"
        ></game-card>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    Vue.component('game-card', {
        props: ['gameData'],
        data() {
          return {
            game: {...this.gameData}
          }
        },
        template: `
        <div style="border-radius: .25rem; border: 1px solid #ECECEC; margin: 1rem; padding: 1rem;">
          <h3>{{ game.question }}</h3>
          
          <button @click="click_0" style="display: block; width: 100%; text-align: left" >{{ game.answers[0] }}</button>
          <button @click="click_1" style="display: block; width: 100%; text-align: left" >{{ game.answers[1] }}</button>
          <button @click="click_2" style="display: block; width: 100%; text-align: left" >{{ game.answers[2] }}</button>
          <button @click="click_3" style="display: block; width: 100%; text-align: left" >{{ game.answers[3] }}</button>
          <br />
          <span v-if="game.now_correct==0">答案</span>
          <span v-else-if="game.now_correct==1" style="color:green;">正確</span>
          <span v-else>Oh no 😢. 正確答案是:  {{ game.correct_answer }}</span>
         
        </div>`,
        methods: {
          click_0() {
            this.game.now_correct = 0;
            if(this.game.answers[0]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_1() {
            this.game.now_correct = 0;
            if(this.game.answers[1]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          click_2() {
            this.game.now_correct = 0;
            if(this.game.answers[2]==this.game.correct_answer){
                this.game.now_correct = 1;
                console.log("correct");
            }else{
                this.game.now_correct = 2;
            }
          },
          click_3() {
            this.game.now_correct = false;
            if(this.game.answers[3]==this.game.correct_answer){
                this.game.now_correct = 1;
            }else{
                this.game.now_correct = 2;
            }
          },
          
        },
       

      });

    const app = new Vue({
      el: '#app',
      data: {
        games: [
          { 
            id: 1, 
            question: '職業災害的定義規定於下列那一個法律中？',
            answers: [
                '勞動基準法',
                '工廠法',
                '職業安全衛生法',
                '工廠法施行細則'
            ],
            correct_answer: '職業安全衛生法',
            now_correct: false,
        },
          { 
            id: 2, 
            question: '雇主對於具有危害性化學品，下列哪些非必要採取措施？',
            answers: [
            '製備化學品清單',
            '環境監測',
            '標示',
            '揭示物質安全資料表'
            ],
            correct_answer: '環境監測',
            now_correct: false,
        },
          { 
            id: 3, 
            question: '依職業安全衛生法施行細則規定，職業安全衛生管理應由下列何者綜理負責？',
            answers: [
                '作業員',
                '雇主',
                '職業安全衛生人員',
                '人事人員'
            ],
            correct_answer: '雇主',
            now_correct: false,
          }, 
          { 
            id: 4, 
            question: '勞工室內作業場所空氣中二氧化碳容許濃度為多少 ppm？',
            answers: [
                '100',
                '1000',
                '500',
                '5000'
            ],
            correct_answer: '5000',
            now_correct: false,
          },
          { 
            id: 5, 
            question: '駁船燻蒸作業完成後，使勞工進入燻蒸場所或鄰近於該場所之居住室等時， 應測定各該場所空氣中溴甲烷之濃度在多少以下，始可進入?',
            answers: [
                '10ppm',
                '11ppm',
                '15ppm',
                '1ppm'
            ],
            correct_answer: '15ppm',
            now_correct: false,
          },
          { 
            id: 6, 
            question: '含有鹽酸之酸性廢液，不得與下列何種廢液混合？',
            answers: [
                '苯',
                '酚',
                '硝酸',
                '氰化物'
            ],
            correct_answer: '氰化物',
            now_correct: false,
          },
          { 
            id: 7, 
            question: '依照勞工安全衛生法令規定，事業單位之勞工安全衛生管理由何人負執行之責？',
            answers: [
                '各部門主管',
                '勞工安全衛生管理單位業務主管',
                '勞工安全衛生管理人員',
                '勞工安全衛生委員會執行秘書'
            ],
            correct_answer: '各部門主管',
            now_correct: false,
          },
          { 
            id: 8, 
            question: '有關勞工健康服務之對象，建議優先列入管理之對象，不包括下列何者？',
            answers: [
                '經健康風險評估後判定為低風險勞工',
                '職業傷病勞工',
                '健康檢查項目異常，經醫師建議需至醫院進行追蹤或治療者',
                '中高齡勞工'
            ],
            correct_answer: '經健康風險評估後判定為低風險勞工',
            now_correct: false,
          },
          { 
            id: 9, 
            question: '特定化學物質危害預防標準中所稱特定化學設備，就是製造、使用丙類第 一種物質、丁類物質的哪種設備?',
            answers: [
                '反應式',
                '固定式',
                '密閉式',
                '移動式'
            ],
            correct_answer: '固定式',
            now_correct: false,
          },
          { 
            id: 10, 
            question: '下列何者非屬特定化學物質中之丙類物質？',
            answers: [
                '鉻酸及其鹽類',
                '三氧化二砷',
                '鈹及其化合物',
                '苯'
            ],
            correct_answer: '鈹及其化合物',
            now_correct: false,
          },
          { 
            id: 11, 
            question: '下列何者為職業衛生護理人員在「健康促進」職責中之功能？',
            answers: [
                '記錄的保存和建立',
                '安全衛生教育',
                '復健及復工',
                '一般醫療服務的提供'
            ],
            correct_answer: '安全衛生教育',
            now_correct: false,
          },
          { 
            id: 12, 
            question: '依職業安全衛生法規定，勞工滿多少人之事業，應按月依規定填載職業災害內容及統計，報請勞動檢查機構備查？',
            answers: [
                '10',
                '30',
                '50',
                '100'
            ],
            correct_answer: '50',
            now_correct: false,
          },
          { 
            id: 13, 
            question: '雇主對製造、處置或使用特定管理物質之作業，應就依特定化學物質危害預防標準規定事項記錄，並自該作業勞工從事作業之日起保存多久？',
            answers: [
                '3年',
                '7年',
                '10年',
                '30年'
            ],
            correct_answer: '30年',
            now_correct: false,
          },
          { 
            id: 14, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 15, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 16, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 17, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 18, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 19, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 20, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 21, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 22, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 23, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 24, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 25, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 26, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
          { 
            id: 27, 
            question: '',
            answers: [
                '',
                '',
                '',
                ''
            ],
            correct_answer: '',
            now_correct: false,
          },
        ],
       
      },
      
      
    });
  </script>
</body>

</html>